.cardBanner {
    background-color: #0D28A6;
    text-align: center;
    color: white;
    width: auto;
    height: auto;
    margin-top: 3em;
    border-radius: 10px;
    margin-bottom: 3em;
}

.bannerTittle {
    
    padding-top: 20px;
    
}

.bannerContent {
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    justify-content: center;
    align-items:center;
    text-align: center;
}

.bannerButton {
    padding-top: 20px;
    padding-bottom: 20px;
}