.card-img-top {
    width: 32px;
}

.why-use {
    margin-top: 100px;
  }
  
  .why-header {
    margin-bottom: 30px;
  }
  
  
  .card-title {
    font-weight: bold;
    font-size: 16px;
    color: #000000;
  }
  
  .card-text {
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
    width: 90%;
  }
  
  .iconCard {
    width: 32px;
  }
  @media (max-width: 992px) {
    .why-header {
      text-align: center;
    }
  
    .why-use {
      margin-top: 40px;
    }
  }
  